*, *::before, *::after {
    box-sizing: border-box;
    font-family: serif;
    font-weight: normal;
}



body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #114357, #f29492);

}

h1 {
    color: #111;
    font-family: "Helvetica Neue", "Sans-serif";
    font-weight: bold;
    text-align: center;
    
}

#calc {
    display: grid;
    justify-content:center;
    align-content:center;
    min-height: 85vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.btn {
    cursor: pointer;
    font-size: 2 rm;
    border: 1px solid white;
    outline: none;
    background-color: #4eb5f1; 
}


button:hover { 
    background-color: rgb(255, 255, 255, .90);
}

#clearButton, #equalButton {
    grid-column: span 2;
}

#output {
    grid-column: 1 / -1;
    background-color: rgb(32, 31, 31);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

#previousScreen {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

#screen {
    color: white;
    font-size: 2.5rem;
}


